{%extends 'my-project/base.html'%}
{% load staticfiles%}
{% load bootstrap3 %}
 {%block content%}
 <!DOCTYPE html>
 <html>
 
 <head>
    <body>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
   <title>New Image</title>
   {{form.media}}
 
 {% block styles %} {% bootstrap_css %}
   <link rel="stylesheet" href="{% static 'css/basephotos.css' %}"> {% endblock %}
 
 </head>
<div class="well" style="margin-bottom:  -200px">
<div class="col-md-3 "></div>
    <form method="post" enctype="multipart/form-data">
    {% csrf_token %} 
    {% bootstrap_form form layout='inline'%}
    <input type="submit" class="btn btn-primary btn-sm" value="Submit">
    <input type="hidden" name="next" value="{{next}}">
</form>
    <p><a  href="{% url 'profile' %}" >Previous</a></p>
    </div>
    
{% endblock %}
</body>
 </html>